SOA/D84361GC10_labs/labs/apps/projects/SayHello/SOA/Schemas/SayHello.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.org"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="request">
        <complexType>
            <sequence>
                <element name="input" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="response">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
